*{
  margin: 0;
  padding: 0;
  outline: none;
	border: none;
	box-sizing: border-box;
}

*:before,
*:after{
	box-sizing: border-box;	
}

html,body{
	min-height: 100%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.wrap{
	width: 300px;
	height: 350px;
	margin: 50px auto;
	border-radius: 20px;
	border: solid 8px #2c3033;
	background: white;
	box-shadow: 0 0 0px 1px rgba(255,255,255,.4),
						0 0 0px 3px #2c3033;
}

.header{
	width: 100%;
	height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
	border-radius: 10px 10px 0 0px;
	background-image: linear-gradient(#687480 0%, #3b4755 100%);
	color: white;
	box-shadow: inset 0 -2px 3px 2px rgba(0,0,0,.4),
						0 2px 2px 2px rgba(0,0,0,.4);
}

.wrap-list{
	height: 85%;
	padding: 20px 0px;
	box-shadow: inset 0 0px 5px black;
	border-radius: 0 0 10px 10px;
  background-image: linear-gradient(transparent 97%, gray 100%);
  overflow-y: auto;
}

.list{
	list-style: none;
	color: rgba(0,0,0,.7);
}

.list li:nth-child(odd){
	background: rgba(0,0,50,.1);
}

.list li{
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

:focus{outline: none;}

.add-form{
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.input-wrapper{
  width: 300px; 
  position: relative;
}

input[type="text"]{color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

.input-field{border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;width: 100%}

.input-field ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #5bb7d6; transition: 0.4s;}

.input-field:focus ~ .focus-border{width: 100%; transition: 0.4s;}
